//
   Created by HuangYuan on 2016/5/5.

extends ../frame
append css
block content
    div.alert.alert-success 用户信息列表
    table.table.table-bordered.table-striped.table-hover.table-responsive
        tr
            td ID
            td 用户名称
            td 登录名称
            td 登录密码
            td 邮箱
            td 注册时间
        for user in users
            tr
                td= user._id
                td= user.realName
                td= user.loginName
                td= user.password
                td= user.email
                td= user.createTime
block selfScript